# please use these versions only 
langchain>=1.0,<2.0
langchain-classic>=1.0,<2.0
langchain-core>=1.2,<2.0
langchain-community>=0.4,<0.5
langchain-text-splitters>=1.1,<2.0
langchain-huggingface>=1.2,<2.0
langchain-ollama>=0.3,<1.0
chromadb>=1.5,<2.0
sentence-transformers>=5.2,<6.0
gpt4all>=2.8,<3.0
pypdf>=6.7,<7.0
